.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.102051;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-5.712503px;}
._5{margin-left:-4.026543px;}
._2{margin-left:-2.980040px;}
._1{margin-left:-1.104868px;}
._0{width:14.423857px;}
._6{width:15.428993px;}
._3{width:40.591795px;}
.fc0{color:rgb(38,38,38);}
.fs0{font-size:52.000002px;}
.y0{bottom:0.000000px;}
.y4c{bottom:80.883793px;}
.y4b{bottom:98.074953px;}
.y4a{bottom:115.266113px;}
.y49{bottom:132.457033px;}
.y48{bottom:149.647953px;}
.y47{bottom:166.839113px;}
.y46{bottom:184.030273px;}
.y45{bottom:201.221193px;}
.y44{bottom:218.412113px;}
.y19{bottom:228.221193px;}
.y2e{bottom:231.794313px;}
.y43{bottom:235.603273px;}
.y18{bottom:245.412233px;}
.y2d{bottom:248.985353px;}
.y42{bottom:252.794433px;}
.y7a{bottom:259.603273px;}
.y17{bottom:262.603273px;}
.y41{bottom:269.985353px;}
.y67{bottom:276.457033px;}
.y79{bottom:276.794433px;}
.y16{bottom:279.794313px;}
.y40{bottom:287.176273px;}
.y2c{bottom:293.176393px;}
.y66{bottom:293.647953px;}
.y78{bottom:293.985353px;}
.y15{bottom:296.985353px;}
.y3f{bottom:304.367433px;}
.y2b{bottom:310.367433px;}
.y65{bottom:310.839113px;}
.y14{bottom:314.176393px;}
.y3e{bottom:321.558591px;}
.y2a{bottom:327.558473px;}
.y64{bottom:328.030273px;}
.y13{bottom:331.367433px;}
.y77{bottom:341.176273px;}
.y29{bottom:344.749513px;}
.y63{bottom:345.221193px;}
.y12{bottom:348.558473px;}
.y28{bottom:361.940553px;}
.y62{bottom:362.412113px;}
.y11{bottom:365.749513px;}
.y3d{bottom:368.749513px;}
.y61{bottom:379.603273px;}
.y10{bottom:382.940553px;}
.y3c{bottom:385.940433px;}
.y60{bottom:396.794433px;}
.yf{bottom:400.131593px;}
.y27{bottom:406.131593px;}
.y5f{bottom:413.985353px;}
.ye{bottom:417.322633px;}
.y3b{bottom:421.131593px;}
.y26{bottom:423.322633px;}
.y5e{bottom:431.176273px;}
.yd{bottom:434.513673px;}
.y76{bottom:435.558593px;}
.y25{bottom:440.513673px;}
.y5d{bottom:448.367433px;}
.yc{bottom:451.704713px;}
.y75{bottom:452.749513px;}
.y24{bottom:457.704713px;}
.y5c{bottom:465.558593px;}
.yb{bottom:468.895753px;}
.y74{bottom:469.940433px;}
.y23{bottom:474.895753px;}
.y5b{bottom:482.749513px;}
.ya{bottom:486.086793px;}
.y73{bottom:487.131593px;}
.y5a{bottom:499.940433px;}
.y3a{bottom:503.513673px;}
.y72{bottom:504.322753px;}
.y59{bottom:517.131593px;}
.y22{bottom:519.086793px;}
.y39{bottom:520.704713px;}
.y71{bottom:521.513673px;}
.y9{bottom:533.277833px;}
.y58{bottom:534.322753px;}
.y21{bottom:536.277833px;}
.y38{bottom:537.895753px;}
.y70{bottom:538.704593px;}
.y57{bottom:551.513673px;}
.y37{bottom:555.086793px;}
.y6f{bottom:555.895753px;}
.y56{bottom:568.704593px;}
.y36{bottom:572.277833px;}
.y6e{bottom:573.086913px;}
.y8{bottom:577.468873px;}
.y20{bottom:580.468873px;}
.y55{bottom:585.895753px;}
.y35{bottom:589.468873px;}
.y6d{bottom:590.277833px;}
.y7{bottom:594.659913px;}
.y1f{bottom:597.659913px;}
.y54{bottom:603.086913px;}
.y34{bottom:606.659913px;}
.y6c{bottom:607.468753px;}
.y6{bottom:611.850953px;}
.y1e{bottom:614.850953px;}
.y53{bottom:620.277833px;}
.y33{bottom:623.850951px;}
.y6b{bottom:624.659913px;}
.y5{bottom:629.041993px;}
.y52{bottom:637.468753px;}
.y6a{bottom:641.851073px;}
.y51{bottom:654.659913px;}
.y1d{bottom:659.041993px;}
.y32{bottom:671.041993px;}
.y50{bottom:671.851075px;}
.y69{bottom:676.232911px;}
.y4{bottom:676.233030px;}
.y1c{bottom:676.233033px;}
.y31{bottom:688.233033px;}
.y4f{bottom:689.041993px;}
.y1b{bottom:693.424073px;}
.y30{bottom:705.424073px;}
.y4e{bottom:706.232911px;}
.y1a{bottom:710.615113px;}
.y68{bottom:710.615235px;}
.y2f{bottom:722.615113px;}
.y3{bottom:723.424073px;}
.y2{bottom:740.615113px;}
.y4d{bottom:740.615235px;}
.y1{bottom:757.806153px;}
.h1{height:46.617189px;}
.h2{height:47.048830px;}
.h0{height:842.000000px;}
.w1{width:595.500000px;}
.w0{width:596.000000px;}
.x0{left:0.000000px;}
.x1{left:72.000000px;}
.x2{left:105.000000px;}
.x3{left:123.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-7.616671pt;}
._5{margin-left:-5.368725pt;}
._2{margin-left:-3.973386pt;}
._1{margin-left:-1.473157pt;}
._0{width:19.231809pt;}
._6{width:20.571990pt;}
._3{width:54.122394pt;}
.fs0{font-size:69.333336pt;}
.y0{bottom:0.000000pt;}
.y4c{bottom:107.845057pt;}
.y4b{bottom:130.766604pt;}
.y4a{bottom:153.688150pt;}
.y49{bottom:176.609377pt;}
.y48{bottom:199.530604pt;}
.y47{bottom:222.452150pt;}
.y46{bottom:245.373697pt;}
.y45{bottom:268.294924pt;}
.y44{bottom:291.216150pt;}
.y19{bottom:304.294924pt;}
.y2e{bottom:309.059084pt;}
.y43{bottom:314.137697pt;}
.y18{bottom:327.216310pt;}
.y2d{bottom:331.980470pt;}
.y42{bottom:337.059244pt;}
.y7a{bottom:346.137697pt;}
.y17{bottom:350.137697pt;}
.y41{bottom:359.980470pt;}
.y67{bottom:368.609377pt;}
.y79{bottom:369.059244pt;}
.y16{bottom:373.059084pt;}
.y40{bottom:382.901697pt;}
.y2c{bottom:390.901857pt;}
.y66{bottom:391.530604pt;}
.y78{bottom:391.980470pt;}
.y15{bottom:395.980470pt;}
.y3f{bottom:405.823244pt;}
.y2b{bottom:413.823244pt;}
.y65{bottom:414.452150pt;}
.y14{bottom:418.901857pt;}
.y3e{bottom:428.744788pt;}
.y2a{bottom:436.744630pt;}
.y64{bottom:437.373697pt;}
.y13{bottom:441.823244pt;}
.y77{bottom:454.901697pt;}
.y29{bottom:459.666017pt;}
.y63{bottom:460.294924pt;}
.y12{bottom:464.744630pt;}
.y28{bottom:482.587404pt;}
.y62{bottom:483.216150pt;}
.y11{bottom:487.666017pt;}
.y3d{bottom:491.666017pt;}
.y61{bottom:506.137697pt;}
.y10{bottom:510.587404pt;}
.y3c{bottom:514.587244pt;}
.y60{bottom:529.059244pt;}
.yf{bottom:533.508790pt;}
.y27{bottom:541.508790pt;}
.y5f{bottom:551.980470pt;}
.ye{bottom:556.430177pt;}
.y3b{bottom:561.508790pt;}
.y26{bottom:564.430177pt;}
.y5e{bottom:574.901697pt;}
.yd{bottom:579.351564pt;}
.y76{bottom:580.744790pt;}
.y25{bottom:587.351564pt;}
.y5d{bottom:597.823244pt;}
.yc{bottom:602.272950pt;}
.y75{bottom:603.666017pt;}
.y24{bottom:610.272950pt;}
.y5c{bottom:620.744790pt;}
.yb{bottom:625.194337pt;}
.y74{bottom:626.587244pt;}
.y23{bottom:633.194337pt;}
.y5b{bottom:643.666017pt;}
.ya{bottom:648.115724pt;}
.y73{bottom:649.508790pt;}
.y5a{bottom:666.587244pt;}
.y3a{bottom:671.351564pt;}
.y72{bottom:672.430337pt;}
.y59{bottom:689.508790pt;}
.y22{bottom:692.115724pt;}
.y39{bottom:694.272950pt;}
.y71{bottom:695.351564pt;}
.y9{bottom:711.037110pt;}
.y58{bottom:712.430337pt;}
.y21{bottom:715.037110pt;}
.y38{bottom:717.194337pt;}
.y70{bottom:718.272790pt;}
.y57{bottom:735.351564pt;}
.y37{bottom:740.115724pt;}
.y6f{bottom:741.194337pt;}
.y56{bottom:758.272790pt;}
.y36{bottom:763.037110pt;}
.y6e{bottom:764.115884pt;}
.y8{bottom:769.958497pt;}
.y20{bottom:773.958497pt;}
.y55{bottom:781.194337pt;}
.y35{bottom:785.958497pt;}
.y6d{bottom:787.037110pt;}
.y7{bottom:792.879884pt;}
.y1f{bottom:796.879884pt;}
.y54{bottom:804.115884pt;}
.y34{bottom:808.879884pt;}
.y6c{bottom:809.958337pt;}
.y6{bottom:815.801270pt;}
.y1e{bottom:819.801270pt;}
.y53{bottom:827.037110pt;}
.y33{bottom:831.801268pt;}
.y6b{bottom:832.879884pt;}
.y5{bottom:838.722657pt;}
.y52{bottom:849.958337pt;}
.y6a{bottom:855.801430pt;}
.y51{bottom:872.879884pt;}
.y1d{bottom:878.722657pt;}
.y32{bottom:894.722657pt;}
.y50{bottom:895.801433pt;}
.y69{bottom:901.643881pt;}
.y4{bottom:901.644040pt;}
.y1c{bottom:901.644044pt;}
.y31{bottom:917.644044pt;}
.y4f{bottom:918.722657pt;}
.y1b{bottom:924.565430pt;}
.y30{bottom:940.565430pt;}
.y4e{bottom:941.643881pt;}
.y1a{bottom:947.486817pt;}
.y68{bottom:947.486980pt;}
.y2f{bottom:963.486817pt;}
.y3{bottom:964.565430pt;}
.y2{bottom:987.486817pt;}
.y4d{bottom:987.486980pt;}
.y1{bottom:1010.408204pt;}
.h1{height:62.156252pt;}
.h2{height:62.731773pt;}
.h0{height:1122.666667pt;}
.w1{width:794.000000pt;}
.w0{width:794.666667pt;}
.x0{left:0.000000pt;}
.x1{left:96.000000pt;}
.x2{left:140.000000pt;}
.x3{left:164.000000pt;}
}
