.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:40.612000px;}
.fc1{color:rgb(17,85,204);}
.fc0{color:rgb(38,38,38);}
.fs0{font-size:52.000000px;}
.y4c{bottom:71.000000px;}
.y4b{bottom:86.585011px;}
.y0{bottom:87.000000px;}
.y4a{bottom:103.776011px;}
.y1a{bottom:112.500000px;}
.y49{bottom:120.967011px;}
.y48{bottom:138.158030px;}
.y47{bottom:155.349030px;}
.y46{bottom:172.539988px;}
.y45{bottom:189.730988px;}
.y30{bottom:197.112986px;}
.y44{bottom:206.921997px;}
.y2f{bottom:214.303986px;}
.y43{bottom:224.112999px;}
.y19{bottom:227.922005px;}
.y42{bottom:241.304001px;}
.y18{bottom:245.113003px;}
.y67{bottom:254.000000px;}
.y2e{bottom:258.495003px;}
.y78{bottom:259.304005px;}
.y17{bottom:262.304005px;}
.y2d{bottom:275.686001px;}
.y41{bottom:275.686005px;}
.y66{bottom:276.157999px;}
.y77{bottom:276.495005px;}
.y16{bottom:279.495005px;}
.y2c{bottom:292.877003px;}
.y65{bottom:293.348999px;}
.y76{bottom:293.686005px;}
.y15{bottom:296.686005px;}
.y40{bottom:310.068001px;}
.y2b{bottom:310.068003px;}
.y64{bottom:310.539997px;}
.y14{bottom:313.877014px;}
.y2a{bottom:327.259003px;}
.y63{bottom:327.730997px;}
.y13{bottom:331.068003px;}
.y75{bottom:340.877014px;}
.y62{bottom:344.921997px;}
.y12{bottom:348.259003px;}
.y61{bottom:362.113022px;}
.y11{bottom:365.450020px;}
.y31{bottom:369.500000px;}
.y29{bottom:371.450020px;}
.y3f{bottom:374.450022px;}
.y60{bottom:379.304016px;}
.y10{bottom:382.641018px;}
.y28{bottom:388.641018px;}
.y3e{bottom:391.641022px;}
.y5f{bottom:396.495010px;}
.yf{bottom:399.832020px;}
.y27{bottom:405.832020px;}
.y5e{bottom:413.686012px;}
.ye{bottom:417.023020px;}
.y26{bottom:423.023020px;}
.y5d{bottom:430.877014px;}
.yd{bottom:434.214020px;}
.y74{bottom:435.258999px;}
.y3d{bottom:438.832001px;}
.y25{bottom:440.214020px;}
.y5c{bottom:448.068016px;}
.yc{bottom:451.405018px;}
.y73{bottom:452.450001px;}
.y3c{bottom:456.023020px;}
.y5b{bottom:465.259014px;}
.yb{bottom:468.596016px;}
.y72{bottom:469.641001px;}
.y3b{bottom:473.214020px;}
.y5a{bottom:482.450016px;}
.y24{bottom:484.405008px;}
.ya{bottom:485.787018px;}
.y71{bottom:486.832001px;}
.y3a{bottom:490.405010px;}
.y59{bottom:499.641016px;}
.y23{bottom:501.596008px;}
.y70{bottom:504.023006px;}
.y39{bottom:507.596012px;}
.y58{bottom:516.832016px;}
.y6f{bottom:521.214008px;}
.y38{bottom:524.787012px;}
.y9{bottom:532.978012px;}
.y57{bottom:534.023003px;}
.y6e{bottom:538.405008px;}
.y37{bottom:541.978012px;}
.y22{bottom:545.787010px;}
.y56{bottom:551.214005px;}
.y6d{bottom:555.596008px;}
.y36{bottom:559.169006px;}
.y21{bottom:562.978008px;}
.y55{bottom:568.405006px;}
.y6c{bottom:572.787010px;}
.y8{bottom:577.169003px;}
.y20{bottom:580.169010px;}
.y54{bottom:585.596008px;}
.y6b{bottom:589.978008px;}
.y7{bottom:594.360004px;}
.y1f{bottom:597.360010px;}
.y53{bottom:602.787006px;}
.y35{bottom:606.360012px;}
.y6a{bottom:607.169010px;}
.y6{bottom:611.551004px;}
.y1e{bottom:614.551010px;}
.y52{bottom:619.978008px;}
.y34{bottom:623.551014px;}
.y69{bottom:624.360010px;}
.y5{bottom:628.742004px;}
.y51{bottom:637.169008px;}
.y33{bottom:640.742014px;}
.y68{bottom:641.551010px;}
.y50{bottom:654.360008px;}
.y32{bottom:657.933014px;}
.y1d{bottom:658.742008px;}
.y4f{bottom:671.551010px;}
.y4{bottom:675.933010px;}
.y4e{bottom:688.742012px;}
.y1c{bottom:693.124010px;}
.y4d{bottom:705.933012px;}
.y1b{bottom:710.315010px;}
.y3{bottom:723.124012px;}
.y2{bottom:740.315012px;}
.y1{bottom:757.506012px;}
.h3{height:37.857422px;}
.h2{height:37.882812px;}
.h6{height:123.000000px;}
.h5{height:400.000000px;}
.h7{height:515.500000px;}
.h4{height:657.000000px;}
.h1{height:682.500000px;}
.h0{height:841.700012px;}
.w1{width:454.500000px;}
.w0{width:595.450012px;}
.x0{left:70.500000px;}
.x1{left:72.000000px;}
.x2{left:105.000000px;}
.x3{left:123.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:54.149333pt;}
.fs0{font-size:69.333333pt;}
.y4c{bottom:94.666667pt;}
.y4b{bottom:115.446681pt;}
.y0{bottom:116.000000pt;}
.y4a{bottom:138.368014pt;}
.y1a{bottom:150.000000pt;}
.y49{bottom:161.289347pt;}
.y48{bottom:184.210706pt;}
.y47{bottom:207.132039pt;}
.y46{bottom:230.053317pt;}
.y45{bottom:252.974650pt;}
.y30{bottom:262.817314pt;}
.y44{bottom:275.895996pt;}
.y2f{bottom:285.738647pt;}
.y43{bottom:298.817332pt;}
.y19{bottom:303.896006pt;}
.y42{bottom:321.738668pt;}
.y18{bottom:326.817337pt;}
.y67{bottom:338.666667pt;}
.y2e{bottom:344.660004pt;}
.y78{bottom:345.738673pt;}
.y17{bottom:349.738673pt;}
.y2d{bottom:367.581334pt;}
.y41{bottom:367.581340pt;}
.y66{bottom:368.210665pt;}
.y77{bottom:368.660006pt;}
.y16{bottom:372.660006pt;}
.y2c{bottom:390.502670pt;}
.y65{bottom:391.131999pt;}
.y76{bottom:391.581340pt;}
.y15{bottom:395.581340pt;}
.y40{bottom:413.424001pt;}
.y2b{bottom:413.424004pt;}
.y64{bottom:414.053329pt;}
.y14{bottom:418.502686pt;}
.y2a{bottom:436.345337pt;}
.y63{bottom:436.974663pt;}
.y13{bottom:441.424004pt;}
.y75{bottom:454.502686pt;}
.y62{bottom:459.895996pt;}
.y12{bottom:464.345337pt;}
.y61{bottom:482.817362pt;}
.y11{bottom:487.266693pt;}
.y31{bottom:492.666667pt;}
.y29{bottom:495.266693pt;}
.y3f{bottom:499.266696pt;}
.y60{bottom:505.738688pt;}
.y10{bottom:510.188024pt;}
.y28{bottom:518.188024pt;}
.y3e{bottom:522.188029pt;}
.y5f{bottom:528.660014pt;}
.yf{bottom:533.109360pt;}
.y27{bottom:541.109360pt;}
.y5e{bottom:551.581350pt;}
.ye{bottom:556.030693pt;}
.y26{bottom:564.030693pt;}
.y5d{bottom:574.502686pt;}
.yd{bottom:578.952026pt;}
.y74{bottom:580.345332pt;}
.y3d{bottom:585.109334pt;}
.y25{bottom:586.952026pt;}
.y5c{bottom:597.424021pt;}
.yc{bottom:601.873357pt;}
.y73{bottom:603.266668pt;}
.y3c{bottom:608.030693pt;}
.y5b{bottom:620.345352pt;}
.yb{bottom:624.794688pt;}
.y72{bottom:626.188001pt;}
.y3b{bottom:630.952026pt;}
.y5a{bottom:643.266688pt;}
.y24{bottom:645.873344pt;}
.ya{bottom:647.716024pt;}
.y71{bottom:649.109334pt;}
.y3a{bottom:653.873347pt;}
.y59{bottom:666.188021pt;}
.y23{bottom:668.794678pt;}
.y70{bottom:672.030675pt;}
.y39{bottom:676.794683pt;}
.y58{bottom:689.109355pt;}
.y6f{bottom:694.952011pt;}
.y38{bottom:699.716016pt;}
.y9{bottom:710.637349pt;}
.y57{bottom:712.030670pt;}
.y6e{bottom:717.873344pt;}
.y37{bottom:722.637349pt;}
.y22{bottom:727.716014pt;}
.y56{bottom:734.952006pt;}
.y6d{bottom:740.794678pt;}
.y36{bottom:745.558675pt;}
.y21{bottom:750.637344pt;}
.y55{bottom:757.873342pt;}
.y6c{bottom:763.716014pt;}
.y8{bottom:769.558670pt;}
.y20{bottom:773.558680pt;}
.y54{bottom:780.794678pt;}
.y6b{bottom:786.637344pt;}
.y7{bottom:792.480006pt;}
.y1f{bottom:796.480014pt;}
.y53{bottom:803.716009pt;}
.y35{bottom:808.480016pt;}
.y6a{bottom:809.558680pt;}
.y6{bottom:815.401339pt;}
.y1e{bottom:819.401347pt;}
.y52{bottom:826.637344pt;}
.y34{bottom:831.401352pt;}
.y69{bottom:832.480014pt;}
.y5{bottom:838.322673pt;}
.y51{bottom:849.558678pt;}
.y33{bottom:854.322685pt;}
.y68{bottom:855.401347pt;}
.y50{bottom:872.480011pt;}
.y32{bottom:877.244019pt;}
.y1d{bottom:878.322678pt;}
.y4f{bottom:895.401347pt;}
.y4{bottom:901.244013pt;}
.y4e{bottom:918.322683pt;}
.y1c{bottom:924.165347pt;}
.y4d{bottom:941.244016pt;}
.y1b{bottom:947.086680pt;}
.y3{bottom:964.165349pt;}
.y2{bottom:987.086683pt;}
.y1{bottom:1010.008016pt;}
.h3{height:50.476562pt;}
.h2{height:50.510417pt;}
.h6{height:164.000000pt;}
.h5{height:533.333333pt;}
.h7{height:687.333333pt;}
.h4{height:876.000000pt;}
.h1{height:910.000000pt;}
.h0{height:1122.266683pt;}
.w1{width:606.000000pt;}
.w0{width:793.933350pt;}
.x0{left:94.000000pt;}
.x1{left:96.000000pt;}
.x2{left:140.000000pt;}
.x3{left:164.000000pt;}
}
